#top-nav {
    padding-top: 15px;
    padding-bottom: 15px;
}
.logo {
    margin-left: 30px;
}
.toggle {
    margin-right: 30px;
}

.nav-distance:not(:last-child)::after {
    content: '・';
    margin-left: 60px;  /* 점과 텍스트 사이의 간격 */
    margin-right: 60px; /* 다음 Nav.Link와의 간격 */
}
@media (max-width: 994px) {
    .nav-distance:not(:last-child)::after {
        content: '';  /* 가상요소의 내용을 지웁니다. */
    }
}
